@import "tailwindcss";

* {
  font-family: 'Satoshi', sans-serif;
  
}

body {
  background-color: #000000; /* The blink will be black */
  
}

#vision {
  font-family: "Playfair Display", serif;
  font-weight: 200;

}

#chillax {
  font-family: 'Outfit', sans-serif;
  font-weight: 200;

}

#errr{
  font-family: 'Clash Grotesk', sans-serif;
  font-weight: 600;
}



.frosted-header {
  
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  
  width: 100%;
  max-width: 100%;
  height: 75px;

  display: flex;
  align-items: center;
  justify-content: end;

  /* background: rgba(50, 50, 50, 0); transparent dark */
  backdrop-filter: blur(7px) saturate(160%);
  -webkit-backdrop-filter: blur(18px) saturate(160%);


  border: 1px solid rgba(6, 6, 6, 0);

  /* Outer glow */
  box-shadow:
    0 0 25px rgba(0, 0, 0, 0.25),

    inset 0 0 60px rgba(0, 0, 0, 0.859);
  
  z-index: 999;
}
